<div *ngIf="!currentUser" class="panel panel-primary center-block login">
  <div class="panel-heading panel-inverse">Register</div>
  <div class="panel-body">
    <!--<form class="example-form" (ngSubmit)="register()">-->
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Login"  placeholder="login">
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Password" >
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput placeholder="Confirm Password">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="EMail" >
      </md-input-container>
        <button  md-raised-button>Register</button>


      <!--<div class="form-group">-->
        <!--<input  class="form-control" placeholder="login" type="text" name="login" [(ngModel)]="login">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input class="form-control" placeholder="password" type="password" name="pass"-->
               <!--[(ngModel)]="pass">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input class="form-control" type="password" name="pass2"-->
               <!--[(ngModel)]="pass2">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input class="form-control" placeholder="EMail" type="text" name="mail"-->
               <!--[(ngModel)]="mail">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input type="file" name="pass"-->
               <!--[(ngModel)]="img">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-default">Log In</button>-->
    <!--</form>-->
  </div>
</div>