.mat-list-item{
    margin: 4px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 0 0 6px;
}
.mat-list-item:hover{
  background: #00BCD4;
  color: #fff;


}
.mat-list-item:hover h4.mat-subheader{
  color: #fff !important;
}
h3.mat-subheader{
    font-size: 38px;
    color: #00BCD4;
    padding: 20px 20px 10px 20px ;
    height: auto !important;
  display: inline;
}
h4.mat-line{
        font-weight: bold !important;
    color: #00BCD4;
}
.material-icons.md-48 { font-size: 48px; }
.right a {
  color: #00BCD4;
  text-decoration: none;

}
span.right{
  float: right;
}
