
footer {
  margin-top: 40px;
  padding: 12px;
  font-size: 12px;
  background: #00bcd4;
  color: #fff;
  position: relative;
  width: 100%;
  bottom: 0px;
  height: 50px;


}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: #00bcd4;
  color: #000;

}
.page-container{
  width: 80%;
  margin: 10px auto;
}
