<div class="panel panel-primary center-block login">
  <div class="panel-heading">Login</div>
  <div class="panel-body">
    <form (ngSubmit)="login()">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Login" placeholder="login">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Password">
      </md-input-container>
      <button md-raised-button type="submit" class="btn btn-default">Log In</button>
    </form>
  </div>
</div>
<register *ngIf="!currentUser"></register>

